<ion-view title="accueil" id="page2">
  <ion-content padding="true" class="has-header">
    <button id="menu-button8" class="button button-positive  button-block" data-componentid="button8" ng-click="ChangeLanguage('en')">en</button>
        <button id="menu-button9" class="button button-positive  button-block" data-componentid="button9" ng-click="ChangeLanguage('fr')">fr</button>
{{ 'TITLE' | translate }}
    <a ui-sref="tabsController.connexion" id="accueil-button5" class="button button-positive  button-block">Connexion</a>
    <a ui-sref="tabsController.referidreq" id="accueil-button6" class="button button-positive  button-block">Accès sans connexion</a>
    
  </ion-content>
</ion-view>