<ion-view title="Alert" id="page27" style="">
<ion-nav-title>
    	<img src="img/avatar.png" style="width: 20%; height: 100%;">
     	<img src="img/tilou-test.png" style="width: 30%; height: 100%;">
    </ion-nav-title>
  <ion-content padding="true" class="has-header">
    <h1 id="alert-heading3" style="color: rgb(0, 0, 0);">Alert</h1>
    <div id="alert-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <a ui-sref="graphicReport" id="alert-button7" class="button button-positive  button-block">Continue</a>
  </ion-content>
</ion-view>