<ion-view title="Avatar" id="page29" style="">
<ion-nav-title>
    	<img src="img/avatar.png" style="width: 20%; height: 100%;">
     	<img src="img/tilou-test.png" style="width: 30%; height: 100%;">
    </ion-nav-title>
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="avatar-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Text ...</p>
    </div>
    <button id="avatar-button4" class="button button-positive  button-block">Print</button>
    <a ui-sref="graphicReport" id="avatar-button5" class="button button-positive  button-block">Continue</a>
  </ion-content>
</ion-view>