<ion-view title="Conctact" id="page-contact">
  <ion-content padding="true" class="has-header">
    <h1 id="conctact-heading" style="color:#000000;">Contacte</h1>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="conctact-list">
      <ion-item class="item-icon-left" id="conctact-list-item-phone1">
        <i class="icon ion-ios-telephone"></i>(819)-123-4567</ion-item>
      <ion-item class="item-icon-left" id="conctact-list-item-phone2">
        <i class="icon No Icon"></i>(524)-123-4567</ion-item>
      <ion-item class="item-icon-left" id="conctact-list-item-email">
        <i class="icon ion-at"></i>info@ti-loup.com</ion-item>
      <ion-item class="item-icon-left" id="conctact-list-item-street">
        <i class="icon ion-email"></i>Rue Nom-de-rue</ion-item>
      <ion-item class="item-icon-left" id="conctact-list-item-pc">
        <i class="icon No Icon"></i>C.P.: A1A 1A1</ion-item>
      <ion-item class="item-icon-left" id="conctact-list-item-city">
        <i class="icon No Icon"></i>Ville</ion-item>
      <ion-item class="item-icon-left" id="conctact-list-item-country">
        <i class="icon No Icon"></i>Pays</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <a ui-sref="home" id="conctact-button" class="button button-positive  button-block">Continuer</a>
  </ion-content>
</ion-view>