<ion-view title="Connexion" id="page-connexion">
  <ion-content padding="true" class="has-header">
  
    <form id="connexion-form" class="list">
      <ion-list id="connexion-list">
        <label class="item item-input" id="connexion-input-user">
          <span class="input-label">Utilisateur:</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="connexion-input-password">
          <span class="input-label">Mot de passe:</span>
          <input type="password" placeholder="">
        </label>
        <p>Vous avez oublié votre mot de passe?</p>
        <p><a href-inappbrowser="/signup" id="connexion-recover-password">cliquez ici</a></p>
      </ion-list>
      <button id="connexion-button-connect" class="button button-stable  button-block">Se connecter</button>
    </form>
  	<hr/>    
     <p>ou si vous êtes un nouvel utilisateur,</p>  	
    <a ui-sref="tabsController.inscription" id="connexion-button-new" class="button button-stable  button-block">S'inscrire</a>     
  </ion-content>
</ion-view>