<ion-view title="connexion" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="connexion-form2" class="list">
      <ion-list id="connexion-list2">
        <label class="item item-input" id="connexion-input4">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="connexion-input5">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="connexion-button2" class="button button-stable  button-block">Log in</button>
      <a href-inappbrowser="/signup" id="connexion-button3" class="button button-positive  button-block button-clear">Or create an account</a>
      <label class="item item-input" id="connexion-input6">
        <span class="input-label">Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="connexion-input7">
        <span class="input-label">Username</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="connexion-input8">
        <span class="input-label">Password</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="connexion-button4" class="button button-stable  button-block">Sign up</button>
  </ion-content>
</ion-view>