<ion-view title="Connexion" id="page-connexion">
  <ion-content padding="true" class="has-header">
  
    <form id="connexion-form" class="list">
      <ion-list id="connexion-list">
                <span class="input-label">Courriel :</span>
      
        <label class="item item-input" id="connexion-input-user">
          <input type="text" placeholder="">
        </label>
                  <span class="input-label">Mot de passe :</span>
        <label class="item item-input" id="connexion-input-password">
          <input type="password" placeholder="">
        </label>
        <p></p>
        <p style="color:#87888a;">Vous avez oublié votre mot de passe ? <a href-inappbrowser="/signup" id="connexion-recover-password">Cliquez ici</a></p>
      </ion-list>
      <button id="preferences-button1" class="button-connexion">Se connecter</button>
    </form>
    </ion-content>
</ion-view>