<ion-view title="Aide" id="about-app-page" class="tilou-page">
<ion-nav-title>
    	<img src="img/avatar.png" style="width: 20%; height: 100%;">
     	<img src="img/tilou-test.png" style="width: 30%; height: 100%;">
    </ion-nav-title>
 <ion-content padding="true" class="has-header"> <h1>aide</h1>
 </br>
   <div class="list">
   <div class="item item-icon-left">
        <i class="icon ion-person-stalker"></i>
      Lorem ipsum dolor sit amet, consect </br>adipiscing elit. </br>Donec quis purus vel purus.  
      </div>

  <div class="item item-icon-left">
        <i class="icon ion-chatbubble"></i>
      Lorem ipsum dolor sit amet, consect </br>adipiscing elit. </br>Donec quis purus vel purus.  
      </div>

  <div class="item item-icon-left">
        <i class="icon ion-wifi"></i>
      Lorem ipsum dolor sit amet, consect </br>adipiscing elit. </br>Donec quis purus vel purus.  
      </div>
   
  <div class="item item-icon-left">
        <i class="icon ion-speakerphone"></i>
      Lorem ipsum dolor sit amet, consect </br>adipiscing elit. </br>Donec quis purus vel purus.  
      </div>
  <div class="item item-icon-left">
        <i class="icon ion-location"></i>
      Lorem ipsum dolor sit amet, consect </br>adipiscing elit. </br>Donec quis purus vel purus.  
      </div>
</div>
  </ion-content>
</ion-view>