<ion-view title="Home" id="page15">
  <ion-content padding="true" class="has-header">
      <button id="menu-button8" class="button button-positive  button-block" data-componentid="button8" ng-click="ChangeLanguage('en')">en</button>
       <button id="menu-button9" class="button button-positive  button-block" data-componentid="button9" ng-click="ChangeLanguage('fr')">fr</button>
		{{ 'TITLE' | translate }}
  
    <div>
      <img src="img/LwwOBP7Sea9J0DA098OL_file0001714275427.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div id="home-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Cette application vous aide à suivre l’évolution du développement de votre enfant de 0 à 2 ans. Vous y trouverez l’information nécessaire et des conseils utiles au sein d’une approche personnalisée.</p>

      <p style="color:#000000;">Développée de manière étique et ludique, Ti-loup est la solution pour prendre la santé de votre enfant en main.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <button id="home-button25" class="button button-positive  button-block">Cliquez ici pour plus d’informations</button>
    <a ui-sref="login" id="home-button23" class="button button-positive  button-block">Connexion</a>
    <a ui-sref="reference" id="home-button24" class="button button-positive  button-block">J’essaie</a>
  </ion-content>
</ion-view>