<ion-view title="Inscription" id="inscription">
  <ion-content padding="true" class="has-header">
  
    <form id="inscription-form" class="list">
      <ion-list id="inscription-list">
        <label class="item item-input" id="inscription-input-courriel">
          <span class="input-label">Courriel:</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="inscription-input-password1">
          <span class="input-label">Mot de passe:</span>
          <input type="password" placeholder="">
        </label>
        <label class="item item-input" id="inscription-input-password2">
          <span class="input-label">Retapez votre mot de passe:</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <button id="inscription-button-ok" class="button button-valider">Valider</button>
    </form>
  </ion-content>
</ion-view>