
<ion-view title="Journal" id="journal-page" class="tilou-page">
<ion-nav-title>
    	<img src="img/avatar.png" style="width: 20%; height: 100%;">
     	<img src="img/tilou-test.png" style="width: 30%; height: 100%;">
    </ion-nav-title>
  <ion-content padding="true" class="has-header"><h1>journal de saisies</h1>   
      <ion-list>
      <ion-item class="yearly" ng-repeat="measure in yearly_measures">
        annee {{measure.year}}                      
        <div ng-repeat="measure1 in measure.montly_measures" class="montly">mois {{measure1.month}}
        <div ng-repeat="measure2 in measure1.daily_measures" class="daily">jour {{measure2.day}}
        <div class="measure">{{measure2.w}}</div>
        <div class="measure">{{measure2.h}}</div>
        <div class="measure">{{measure2.comment}}</div>
        
        </div>
        </div>
      </ion-item>           
    </ion-list>

  </ion-content>
</ion-view>


