<ion-view title="Measurements" id="measurements-page" class="tilou-page">
<ion-nav-title>
       	<img src="img/avatar.png" style="width: 20%; height: 100%;">
     	<img src="img/tilou-test.png" style="width: 30%; height: 100%;">
    </ion-nav-title>
  <ion-content padding="true" class="has-header">
    <h1 id="measurementInstructions-heading5" style="color: rgb(0, 0, 0);">Instructions</h1>
    <div id="measurementInstructions-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <a ui-sref="measurements" id="measurementInstructions-button9" class="button button-positive  button-block">Continuer</a>
  </ion-content>
</ion-view>