<ion-view title="Information personnelle" id="page-personal-information">
  <ion-content padding="true" class="has-header">
    <form id="personal-information-form" class="list">
      <h1 id="personal-information-heading" style="color:#000000;">Vous</h1>
      <div class="spacer" style="width: 300px; height: 10px;"></div>
      <label class="item item-select" id="ipersonal-information-select1">
        <span class="input-label">Région :</span>
        <select>
          <option>Estrie</option>
          <option>Mauricie</option>
          <option>Montréal</option>
          <option>Etc.</option>
        </select>
      </label>
      <label class="item item-select" id="personal-information-select2">
        <span class="input-label">Sexe :</span>
        <select>
          <option>Féminin</option>
          <option>Masculin</option>
        </select>
      </label>
      <label class="item item-input" id="personal-information-input1">
        <span class="input-label">Âge :</span>
        <input type="number" placeholder="">
      </label>
      <h1 id="personal-information-heading2" style="color:#000000;">Vos enfants</h1>
      <div class="spacer" style="width: 300px; height: 10px;"></div>
      <label class="item item-input" id="personal-information-input2">
        <span class="input-label">Prénom :</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="personal-information-input3">
        <span class="input-label">Date de naissance :</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="personal-information-input4">
        <span class="input-label">Dernier rendez-vous : </span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-select" id="personal-information-select4">
        <span class="input-label">Santé / Handicap :</span>
        <select>
          <option>H1</option>
          <option>H2</option>
          <option>Etc.</option>
        </select>
      </label>
      <label class="item item-input" id="personal-information-input5">
        <span class="input-label">depuis quelle date ?</span>
        <input type="date" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 10px;"></div>
      <button id="personal-information-button1" class="button button-positive button-small icon ion-plus"></button>
      <div class="spacer" style="width: 300px; height: 10px;"></div>
      <button id="personal-information-button2" class="button button-valider">Valider</button>
    </form>
  </ion-content>
</ion-view>