<ion-view title="Preferences" id="profil-page" class="tilou-page">
<ion-nav-title>
    	<img src="img/avatar.png" style="width: 20%; height: 100%;">
     	<img src="img/tilou-test.png" style="width: 30%; height: 100%;">
    </ion-nav-title>
  <ion-content padding="true" class="has-header"><h1>préférences</h1>
    <h3 id="preferences-heading" style="color:#000000;">Plage horaire des rappels</h3>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div id="preferences-markdown" class="show-list-numbers-and-dots">
    </div>
      <form id="preferences-form" class="list">
        <label class="item item-input" id="preferences-input">        
          <span class="input-label">Entre :</span>
          <input type="time" placeholder="">
        </label>
        </br>
        <label class="item item-input" id="preferences-input2">
          <span class="input-label">et : </span>
          <input type="time" placeholder="">
        </label>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <div id="preferences-markdown" class="show-list-numbers-and-dots">
          <div style="margin: 0px; line-height: 250px; background-color: rgb(290, 295, 299); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
          <p style="color:#87888a;"> Veuillez insérer une photo de votre
            <strong>enfant x</strong>
          </p>
        </div>
        <br>
        <button id="preferences-button1" class="button-parcourir">Parcourir</button>
        <br>
        <button id="preferences-button2" class="button-valider">Valider</button>
      </form>
  </ion-content>
</ion-view>