<ion-view title="Preferences" id="page7" style="">
  <ion-content padding="true" class="has-header">
    <h1 id="preferences-heading6" style="color: rgb(0, 0, 0);">Preferences</h1>
    <form id="preferences-form3" class="list">
      <label class="item item-select" id="preferences-select1">
        <span class="input-label">Select</span>
        <select></select>
      </label>
      <label class="item item-select" id="preferences-select2">
        <span class="input-label">Select</span>
        <select></select>
      </label>
    </form>
    <button id="preferences-button10" class="button button-positive  button-block">Browse</button>
    <button id="preferences-button11" class="button button-positive  button-block">Confirm</button>
  </ion-content>
</ion-view>