<ion-view title="Profile" id="profil-page" class="tilou-page">
<ion-nav-title> <img src="img/avatar.png"
	style="width: 20%; height: 100%;"> <img src="img/tilou-test.png"
	style="width: 30%; height: 100%;"> </ion-nav-title> <ion-content padding="true"
	class="has-header">
<h1>profil</h1>
<div class="spacer" style="width: 300px; height: 10px;"></div>
<div
	style="margin: 0px; line-height: 250px; background-color: rgb(290, 295, 299); text-align: center;">
	<i class="icon ion-person"
		style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
</div>
<div class="spacer" style="width: 300px; height: 10px;"></div>
<ion-list id="profile-list"> <ion-item
	id="profile-list-item1">Nom et prénom :</ion-item> <ion-item
	id="profile-list-item2">Nombre d'enfants :</ion-item> <ion-item
	id="profile-list-item3">Region :</ion-item> <ion-item
	id="profile-list-item4">Identification du référent :</ion-item> </ion-list>
<div class="spacer" style="width: 300px; height: 10px;"></div>
<form id="profile-form" class="list">
	<ion-checkbox id="profile-checkbox"> J’ai lu et consens
	par la présente à </br>
	participer au programme de recherche.</ion-checkbox>


</form>
<button id="profile-button3" class="button button-valider">Editer</button>
<p></p>
</ion-content> </ion-view>