<ion-view title="Setup profile" id="page21" style="">
<ion-nav-title>
    	<img src="img/avatar.png" style="width: 20%; height: 100%;">
     	<img src="img/tilou-test.png" style="width: 30%; height: 100%;">
    </ion-nav-title>
  <ion-content padding="true" class="has-header">
    <button id="setupProfile-button14" class="button button-positive  button-block">Now</button>
    <button id="setupProfile-button15" class="button button-positive  button-block">Later</button>
  </ion-content>
</ion-view>