<ion-view title="Références" id="page16">
  <ion-content padding="true" class="has-header">
    <h1 id="rFRences-heading11" style="color:#000000;">Qui vous a parlé de l'application?</h1>
    <form id="rFRences-form12" class="list">
      <ion-radio id="rFRences-radio1">Un professionnel de la santé</ion-radio>
      <ion-radio id="rFRences-radio2">Un ami / une connaissance</ion-radio>
      <ion-radio id="rFRences-radio3">Une référence internet</ion-radio>
    </form>
    <h1 id="rFRences-heading12" style="color:#000000;">Avez-vous un identifiant lié à un projet clinique ou à un professionnel de la santé?</h1>
    <form id="rFRences-form13" class="list">
      <ion-radio id="rFRences-radio4">Oui</ion-radio>
      <ion-radio id="rFRences-radio5">Non</ion-radio>
      <button id="rFRences-button26" class="button button-positive  button-block">Suivant</button>
    </form>
  </ion-content>
</ion-view>