<ion-view title="References" id="page28" style="">
<ion-nav-title>
    	<img src="img/avatar.png" style="width: 20%; height: 100%;">
     	<img src="img/tilou-test.png" style="width: 30%; height: 100%;">
    </ion-nav-title>
  <ion-content padding="true" class="has-header">
    <h1 id="references-heading2" style="color: rgb(0, 0, 0);">References</h1>
    <div id="references-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <a ui-sref="avatar" id="references-button6" class="button button-positive  button-block">Continue</a>
  </ion-content>
</ion-view>