<ion-view title="Saisie du profil" id="page24">
<ion-nav-title>
    	<img src="img/avatar.png" style="width: 20%; height: 100%;">
     	<img src="img/tilou-test.png" style="width: 30%; height: 100%;">
    </ion-nav-title>
  <ion-content padding="true" class="has-header">
    <h1 id="saisieDuProfil-heading14" style="color:#000000;">Voulez-vous compléter votre profil?</h1>
    <button id="saisieDuProfil-button27" class="button button-positive  button-block">Maintenant</button>
    <button id="saisieDuProfil-button28" class="button button-positive  button-block">Plus tard</button>
  </ion-content>
</ion-view>