<ion-view title="Setup preferences" id="page22" style="">
  <ion-content padding="true" class="has-header">


	<ion-item>
	  <ion-label>Between</ion-label>
	  <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="myDate"></ion-datetime>
	</ion-item>
	
	<ion-item>
	  <ion-label>and</ion-label>
	  <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="myDate"></ion-datetime>
	</ion-item>

    <button id="setupPreferences-button12" class="button button-positive  button-block">Now</button>
    <button id="setupPreferences-button13" class="button button-positive  button-block">Later</button>
  </ion-content>
</ion-view>