/* Empty. Add your own CSS if you like */
.platform-ios .manual-ios-statusbar-padding {
	padding-top: 20px;
}

.manual-remove-top-padding {
	padding-top: 0px;
}

.manual-remove-top-padding .scroll {
	padding-top: 0px !important;
}

ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth
	{
	margin-left: -10px;
	margin-right: -10px;
}

ion-list.manual-list-fullwidth div.list>.item, .list.card.manual-card-fullwidth>.item
	{
	border-radius: 0px;
	border-left: 0px;
	border-right: 0px;
}

.show-list-numbers-and-dots ul {
	list-style-type: disc;
	padding-left: 40px;
}

.show-list-numbers-and-dots ol {
	list-style-type: decimal;
	padding-left: 40px;
}

.button-clear.button-clear {
	border-color: transparent;
	background: none;
	box-shadow: none;
	color: rgb(0, 0, 0);
}

/**************/
/* Menu style */
/**************/

/*
	0a71b4 -> rgb: 10, 113, 180
	99cc00 -> rgb: 153, 204, 0
	ff9900 -> rgb: 255, 153, 0
	bd0926 -> rgb: 189, 9, 38
	663399 -> rgb: 102, 51, 153
	
	87888a
*/
.menu-list .item {
	border-left-width: 20px;
	padding: 0px;
	font-family:  Arial;
}

.menu-list .item h1 {
	color: rgba(255, 255, 255, 1);
	padding: 14px 40px 14px 14px;	
	font-family:  Arial;
	/* 	font-size: 48pt; */
	font-size: 14pt;
	margin-bottom: 0px;
}

.sub-menu-list .item {
	color: #87888a;
	font-family:  Arial;
	/* 	font-size: 41pt; */
	border-left-width: 0px;
	padding-left: 10px;	
	
}

#menu-about-yourself {
	background-color: rgba(10, 113, 180, 0.5);
	border-left-color: rgba(10, 113, 180, 1);
}

#menu-list-measurements {
	border-left-color: rgba(153, 204, 0, 1);
}

#menu-list-measurements a.item-content {
	color: rgba(255, 255, 255, 1);
	/* 	font-size: 48pt; */
	background-color: rgba(153, 204, 0, 0.5);
	font-size: 14pt;
}

#menu-list-journal {
	border-left-color: rgba(255, 153, 0, 1);
}

#menu-list-journal a.item-content {
	color: rgba(255, 255, 255, 1);
	/* 	font-size: 48pt; */
	background-color: rgba(255, 153, 0, 0.5);
	font-size: 14pt;		
}

#menu-list-graphicReport {
	border-left-color: rgba(189, 9, 38, 1);
}

#menu-list-graphicReport  a.item-content {
	color: rgba(255, 255, 255, 1);
	/* 	font-size: 48pt; */
	background-color: rgba(189, 9, 38, 0.5);
	font-size: 14pt;	
}

#menu-about-app {
	background-color: rgba(102, 51, 153, 0.5);
	border-left-color: rgba(102, 51, 153, 1);
}


.button-connexion {
	-moz-box-shadow: 9.4px 9.4px 9.4px -9.4px #d9dadb;
	-webkit-box-shadow: 9.4px 9.4px 9.4px -9.4px #d9dadb;
	box-shadow: 9.4px 9.4px 9.4px -9.4px #d9dadb;
	background-color: #bd0926;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border: 2.5px solid #d9dadb;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Homemade Apple', cursive;
	font-size: 20px;
	text-align: center;
	width: 100%;
	height: 46px;
	padding: 1px;
	text-decoration: none;
}

.button-connexion:hover {
	background-color: #bd0925;
}

.button-connexion:active {
	position: relative;
	top: 1px;
}

.button-continuer {
	-moz-box-shadow: 9.4px 9.4px 9.4px -9.4px #d9dadb;
	-webkit-box-shadow: 9.4px 9.4px 9.4px -9.4px #d9dadb;
	box-shadow: 9.4px 9.4px 9.4px -9.4px #d9dadb;
	background-color: #99cc00;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border: 2.5px solid #d9dadb;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Homemade Apple', cursive;
	font-size: 20px;
	text-align: center;
	width: 100%;
	height: 46px;
	padding: 1px;
	text-decoration: none;
}

.button-continuer:hover {
	background-color: #99cc00;
}

.button-continuer:active {
	position: relative;
	top: 1px;
}

.button-suivant {
	-moz-box-shadow: 9.4px 9.4px 9.4px -9.4px #d9dadb;
	-webkit-box-shadow: 9.4px 9.4px 9.4px -9.4px #d9dadb;
	box-shadow: 9.4px 9.4px 9.4px -9.4px #d9dadb;
	background-color: #ff9900;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border: 2.5px solid #d9dadb;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Homemade Apple', cursive;
	font-size: 20px;
	text-align: center;
	width: 100%;
	height: 46px;
	padding: 1px;
	text-decoration: none;
}

.button-suivant:hover {
	background-color: #ff9900;
}

.button-suivant:active {
	position: relative;
	top: 1px;
}

.button-parcourir {
	-moz-box-shadow: 9.4px 9.4px 9.4px -9.4px #d9dadb;
	-webkit-box-shadow: 9.4px 9.4px 9.4px -9.4px #d9dadb;
	box-shadow: 9.4px 9.4px 9.4px -9.4px #d9dadb;
	background-color: #717273;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border: 2.5px solid #d9dadb;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Homemade Apple', cursive;
	font-size: 20px;
	text-align: center;
	width: 100%;
	height: 46px;
	padding: 1px;
	text-decoration: none;
}

.button-parcourir:hover {
	background-color: #717273;
}

.button-parcourir:active {
	position: relative;
	top: 1px;
}

.button-valider {
	-moz-box-shadow: 9.4px 9.4px 9.4px -9.4px #d9dadb;
	-webkit-box-shadow: 9.4px 9.4px 9.4px -9.4px #d9dadb;
	box-shadow: 9.4px 9.4px 9.4px -9.4px #d9dadb;
	background-color: #0a71b4;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border: 2.5px solid #d9dadb;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Homemade Apple', cursive;
	font-size: 20px;
	text-align: center;
	width: 100%;
	height: 46px;
	padding: 1px;
	text-decoration: none;
}

.button-valider:hover {
	background-color: #0a71b4;
}

.button-valider:active {
	position: relative;
	top: 1px;
}

.button-oui {
	-moz-box-shadow: 7.4px 7.4px 7.4px -7.4px #d9dadb;
	-webkit-box-shadow: 7.4px 7.4px 7.4px -7.4px #d9dadb;
	box-shadow: 7.4px 7.4px 7.4px -7.4px #d9dadb;
	background-color: #ff9900;
	-moz-border-radius: 25.8px;
	-webkit-border-radius: 25.8px;
	border-radius: 25.8px;
	border: 3.5px solid #d9dadb;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Homemade Apple', cursive;
	font-size: 56px;
	text-align: center;
	width: 191px;
	height: 98px;
	padding: 1px;
	text-decoration: none;
}

.button-oui:hover {
	background-color: #ff9900;
}

.button-oui:active {
	position: relative;
	top: 1px;
}

.button-non {
	-moz-box-shadow: 7.4px 7.4px 7.4px -7.4px #d9dadb;
	-webkit-box-shadow: 7.4px 7.4px 7.4px -7.4px #d9dadb;
	box-shadow: 7.4px 7.4px 7.4px -7.4px #d9dadb;
	background-color: #717273;
	-moz-border-radius: 25.8px;
	-webkit-border-radius: 25.8px;
	border-radius: 25.8px;
	border: 3.5px solid #d9dadb;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Homemade Apple', cursive;
	font-size: 56px;
	text-align: center;
	width: 191px;
	height: 98px;
	padding: 1px;
	text-decoration: none;
}


.button-non:hover {
	background-color: #717273;
}

.button-non:active {
	position: relative;
	top: 1px;
}

.button-plus {
	-moz-box-shadow: 7.4px 7.4px 7.4px -7.4px #d9dadb;
	-webkit-box-shadow: 7.4px 7.4px 7.4px -7.4px #d9dadb;
	box-shadow: 7.4px 7.4px 7.4px -7.4px #d9dadb;
	background-color: #717273;
	-moz-border-radius: 25.8px;
	-webkit-border-radius: 25.8px;
	border-radius: 25.8px;
	border: 3.5px solid #d9dadb;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Homemade Apple', cursive;
	font-size: 56px;
	text-align: center;
	width: 191px;
	height: 98px;
	padding: 1px;
	text-decoration: none;
}

.button-plus:hover {
	background-color: #717273;
}

.button-plus:active {
	position: relative;
	top: 1px;
}

.button-moins {
	-moz-box-shadow: 7.4px 7.4px 7.4px -7.4px #d9dadb;
	-webkit-box-shadow: 7.4px 7.4px 7.4px -7.4px #d9dadb;
	box-shadow: 7.4px 7.4px 7.4px -7.4px #d9dadb;
	background-color: #999b9c;
	-moz-border-radius: 25.8px;
	-webkit-border-radius: 25.8px;
	border-radius: 25.8px;
	border: 3.5px solid #d9dadb;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Homemade Apple', cursive;
	font-size: 56px;
	text-align: center;
	width: 191px;
	height: 98px;
	padding: 1px;
	text-decoration: none;
}

.button-moins:hover {
	background-color: #999b9c;
}

.button-moins:active {
	position: relative;
	top: 1px;
}

.tilou-page{
	border-left-style: solid;
	border-left-width: 15px; 
}

#journal-page{
	border-left-color: #ff9900;
}

#journal-page h1{
	background-color: rgba(255, 153, 0, 0.6);
}

#journal-page ion-content {
  padding: 0px;
  }
